{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Digital Kisaan Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>

    <script src="{% static 'mysite/js/jquery-1.11.0.min.js' %}"></script>
    <link href="{% static 'mysite/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'mysite/css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<h1><b>DIGITAL KISAAN PORTAL</b></h1>
							</div>
							<!--start-top-nav-->
							 <div class="top-nav">
								<ul>
									<li class="active"><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span> </span>Log in</a></li>
									<li><a class="play-icon popup-with-zoom-anim" href="#small-dialog1">Sign up</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
				</div>
			<!---pop-up-box---->

                <script type="text/javascript" src="{% static 'mysite/js/modernizr.custom.min.js' %}"></script>

                <link href="{% static 'mysite/css/popup-box.css' %}" rel="stylesheet" type="text/css" media="all"/>

                <script src="{% static 'mysite/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
					<!---//pop-up-box---->

					<div id="small-dialog" class="mfp-hide">
						<form>
						<div class="login">
							<h3>Log In</h3>
							<h4>Already a Member</h4>
							<input type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" />
							<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"/>
							<input type="submit" value="Login" />
						</div>
						</form>
					</div>
					<div id="small-dialog1" class="mfp-hide">
						<form>
						<div class="signup">
							<h3>Sign Up</h3>
							<h4>Enter Your Details Here</h4>
							<input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" />
							<input type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}" />
							<input type="text" class="email"value="Phone No" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone No';}"  />
							<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"/>
							<input type="submit"  value="SignUp"/>
						</div>
					</form>
					</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
				</script>
		<!--End-header-->
		<div class="navgation">
					<div class="menu">

                        <a class="toggleMenu" href="#"><img src=" {% static 'mysite/images/menu-icon.png' %}" alt="" /> </a>



							<ul class="nav" id="nav">
{#								<li><a href="index.html">Home</a></li>#}
{#								<li><a href="about.html">About Us</a></li>#}
{#								<li><a href="predict.html">Prediction</a></li>#}
{#								<li><a href="schemes.html">Schemes</a></li>#}
{#								<li><a href="news.html">Latest News</a></li>#}
{#								<li><a href="404.html">Live Feed Page</a></li>#}
{#								<li><a href="404.html">Community</a></li>#}
{#								<li><a href="#contact">Contact</a></li>#}

                                <li><a href="{% url 'home' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'prediction' %}">Prediction</a></li>
								<li><a href="{% url 'schemes' %}">Schemes</a></li>
								<li><a href="{% url 'latestnews' %}">Latest News</a></li>
								<li><a href="{% url 'livefeedpage' %}">Live Feed Page</a></li>
								<li><a href="{% url 'community' %}">Community</a></li>
								<li><a href="{% url 'contact' %}">Contact</a></li>

							</ul>
                            <!----start-top-nav-script---->

                        <script type="text/javascript" src="{% static 'mysite/js/responsive-nav.js' %}"></script>



							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!----//End-top-nav-script---->
					</div>
					<div class="clearfix"> </div>
		</div>
		</div>
		<br><br><br>
		<div class="predict">
			<h2 style="text-align: center;"><b>CROP PREDICTION</b></h2>
	    	<div class="data">
		        <form id='formm' method="post" class="main-form">
                {% csrf_token %}
					<div class="container">
		        	<h3><b>Prediction Data:</b></h3>
		            	<label for="form-name">City Name:</label>
		                <input type="text" name="name" id="fcityname" value="City Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'City Name';}" required/>
		            </div>
					<div class="container">
		                <label for="form-soil">Soil PH Value:</label>
		                <input type="text" name="soil" id="fph" value="Soil PH Value" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Soil PH Value';}" required/>
		            </div>
		            <div class="container">
		                <label for="form-N">Nitrogen Component Value:</label>
		                <input type="text" name="N" id="fnvalue" value="Nitrogen Value" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nitrogen Value';}" required/>
		            </div>
		            <div class="container">
		                <label for="form-P">Phosphorous Component Value:</label>
		                <input type="text" name="P" id="fphosvalue" value="Phosphorous Value" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phosphorous Value';}" required/>
		            </div>
		            <div class="container">
		                <label for="form-K">Potassium Component Value:</label>
		                <input type="text" name="K" id="fpotvalue" value="Potassium Value" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Potassium Value';}" required/>
		            </div>
					<div class="contact-but">
						<input type="submit" id="submitt" value="Submit data" class="btn">
					</div>

		            <div submit-success>
		                <template type="amp-mustache">
		                    <p class="form-submit-response">
		                        Data submitted!
		                    </p>
		                </template>
		            </div>
		            <div submit-error>
		                <template type="amp-mustache">
		                    <p class="form-submit-response">
		                        Oops! Sorry, there was an error.
		                    </p>
		                </template>
		            </div>
		        </form>
		    </div><br>
		    <div class="container">
		    	<h3><b>Prediction Results:</b></h3>
		    	<div class="container">
					<textarea value="result" id="resultt" style="width: 400px" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Prediction';}"></textarea>
				</div>
		    </div>
		</div>
		<br>
		<div class="footer">
             <div class="container">
                <div class="footer-text">
					<p>DIGITAL KISAAN PORTAL</p>
				</div>
             </div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>

<script>
    //var string1 = "";
    //var list2 = [];
    {#var list1=[document.getElementById('fph')]#}
    const form = document.getElementById('formm');
    form.addEventListener("submit", submitHandler);

    var cars = [["Saab", "Volvo"], ["BMW", "kdj"]];


    function submitHandler(e) {
        console.log("executed")
        var list1=[document.getElementById('fcityname').value,document.getElementById('fph').value,document.getElementById('fnvalue').value,document.getElementById('fphosvalue').value,document.getElementById('fpotvalue').value]
        e.preventDefault();
        $.ajax({
            type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url: '{% url "calculate" %}', // the url where we want to POST
            'data': {
                'content': JSON.stringify(list1),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json', // what type of data do we expect back from the server

            success: (message) => {
                console.log(message);
                document.getElementById('resultt').value=JSON.stringify(message.content)
                {#document.getElementById('textview').value += "The distance is : " + JSON.stringify(message.cost) + " km";#}
                {#document.getElementById('textview').value += "\nAverage Fuel cost : Rs. " + JSON.stringify(message.cost2);#}
                {#document.getElementById('textview').value += "\nThe path is : \n" + JSON.stringify(message.path);#}
                {#const obj = JSON.stringify(message.final);#}
                {#list2 = JSON.parse(obj);#}
            }


        });
    }
</script>

</body>
</html>



















