{% load static %}




<!DOCTYPE html>
<html>
<head>
<title>Digital Kisaan Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>

    <script src="{% static 'mysite/js/jquery-1.11.0.min.js' %}"></script>
    <link href="{% static 'mysite/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'mysite/css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<h1><b>DIGITAL KISAAN PORTAL</b></h1>
							</div>
							<!--start-top-nav-->
							 <div class="top-nav">
								<ul>
									<li class="active"><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span> </span>Log in</a></li>
									<li><a class="play-icon popup-with-zoom-anim" href="#small-dialog1">Sign up</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
				</div>
			<!---pop-up-box---->

                <script type="text/javascript" src="{% static 'mysite/js/modernizr.custom.min.js' %}"></script>

                <link href="{% static 'mysite/css/popup-box.css' %}" rel="stylesheet" type="text/css" media="all"/>

                <script src="{% static 'mysite/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
					<!---//pop-up-box---->

					<div id="small-dialog" class="mfp-hide">
						<form>
						<div class="login">
							<h3>Log In</h3>
							<h4>Already a Member</h4>
							<input type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" />
							<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"/>
							<input type="submit" value="Login" />
						</div>
						</form>
					</div>
					<div id="small-dialog1" class="mfp-hide">
						<form>
						<div class="signup">
							<h3>Sign Up</h3>
							<h4>Enter Your Details Here</h4>
							<input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" />
							<input type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}" />
							<input type="text" class="email"value="Phone No" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone No';}"  />
							<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"/>
							<input type="submit"  value="SignUp"/>
						</div>
					</form>
					</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
				</script>
		<!--End-header-->
		<div class="navgation">
					<div class="menu">

                        <a class="toggleMenu" href="#"><img src=" {% static 'mysite/images/menu-icon.png' %}" alt="" /> </a>



							<ul class="nav" id="nav">
{#								<li><a href="index.html">Home</a></li>#}
{#								<li><a href="about.html">About Us</a></li>#}
{#								<li><a href="predict.html">Prediction</a></li>#}
{#								<li><a href="schemes.html">Schemes</a></li>#}
{#								<li><a href="news.html">Latest News</a></li>#}
{#								<li><a href="404.html">Live Feed Page</a></li>#}
{#								<li><a href="404.html">Community</a></li>#}
{#								<li><a href="#contact">Contact</a></li>#}

                                <li><a href="{% url 'home' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'prediction' %}">Prediction</a></li>
								<li><a href="{% url 'schemes' %}">Schemes</a></li>
								<li><a href="{% url 'latestnews' %}">Latest News</a></li>
								<li><a href="{% url 'livefeedpage' %}">Live Feed Page</a></li>
								<li><a href="{% url 'community' %}">Community</a></li>
								<li><a href="{% url 'contact' %}">Contact</a></li>

							</ul>
                            <!----start-top-nav-script---->

                        <script type="text/javascript" src="{% static 'mysite/js/responsive-nav.js' %}"></script>



							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!----//End-top-nav-script---->
					</div>
					<div class="clearfix"> </div>
		</div>
		</div>
		<br><br><br>
		<div class="container" style="text-align: center;">
			<h2><b>Government Schemes in Agriculture</b></h2>
		</div><br>
		<div class="container">
            <h3><a href="https://nmsa.dac.gov.in/" target="_blank">1.National Mission For Sustainable Agriculture (NMSA)</a></h3>
			<p>In order to make agriculture more productive, sustainable, remunerative and climate resilient, the Government of India introduced National Mission for Sustainable Agriculture (NMSA) in the year 2014-15. To achieve these goals, the mission promotes location specific sustainable and best farming practices; soil conservation and moisture protection measures; soil nutrient management; efficient and sustainable water management practices with mainstreaming rainfed methods.</p>
		</div><br>
		<div class="container">
            <h3><a href="https://pmfby.gov.in/" target="_blank">2.Pradhan Mantri Fasal Bima Yojana (PMFBY)</a></h3>
			<p>The extreme weather conditions such as droughts, floods and hailstorms cause crop failures and financial loss to the farmers every year. And therefore, to save them from these ill effects, the Government, by merging all previous crop insurance schemes, launched Pradhan Mantri Fasal Bima Yojana (PMFBY) from Kharif 2016 season with the aim to support production in agriculture by providing an affordable crop insurance system.</p>
		</div><br>
		<div class="container">
            <h3><a href="https://pmksy.gov.in/" target="_blank">3.Pradhan Mantri Krishi Sinchai Yojana (PMKSY)</a></h3>
			<p>The Government of India has structured Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) with the vision to extend the coverage of irrigation and improving water use efficiency in a focused manner. PMKSY focuses end to end solution on source creation, distribution, management, field application and extension activities. The Cabinet Committee on Economic Affairs had approved the irrigation scheme on July 1,, 2015.</p>
		</div><br>
		<div class="container">
            <h3><a href="https://pgsindia-ncof.gov.in/pkvy/Introduction.aspx" target="_blank">4.Paramparagat Krishi Vikas Yojana (PKVY)</a></h3>
			<p>Parampragat Krishi Vikas Yojana (PKVY) is one of the important government schemes which encourages farmers for traditional and organic farming in India. Under the scheme, the Government of India provides a financial assistance to the farmers of Rs 50,000 per hectare every three years for organic inputs, certification, labelling, packaging, transportation and marketing of organic produce. The scheme focuses on reducing the ill effects of overuse of fertilisers and agrochemicals by promoting organic manures, bio-fertilisers and bio-pesticides. It helps improve the soil fertility by improving organic carbon in the soil which results in enhancing moisture holding capacity in the field too.</p>
		</div><br>
		<div class="container">
            <h3><a href="https://www.nabard.org/content1.aspx?id=1720&catid=8&mid=488" target="_blank">5.Micro Irrigation Fund scheme</a></h3>
			<p>National Bank for Agriculture and Rural Development (NABARD) has created a Micro Irrigation Fund with a corpus of Rs. 5,000 crore implemented from 2019-20. The objective of the fund is to facilitate the states in availing an interest subvented loan for expanding coverage of micro irrigation facilities by taking up special and innovative projects and also for incentivising micro irrigation beyond the provisions available under PMKSY to encourage farmers to install micro irrigation systems.</p>
		</div><br>
		<div class="footer">
             <div class="container">
                <div class="footer-text">
					<p>DIGITAL KISAAN PORTAL</p>
				</div>
             </div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
</body>
</html>


